 
           #google {
               font-family:"google-sans";
               color:rgb(61, 219, 134);
           }
           
           #arial {
               font-family:"arial";
               color:rgb(0, 0, 0);
           }
            
            #arimo {
                font-family:"arimo";
            }
            
            #caladea {
                font-family:"caladea";
            }
            
            #carlito {
                font-family:"carlito";
            }
            
            #comicsans {
                font-family:cursive;
            }
            #cousine {
                font-family:"cousine";
            }
            
