body {margin: 0;
font-family:sans-serif;
}

#fried {
   float:left;
   margin-left:50px;
}

#gaesser {
	float:right; 
	margin-right:50px;
	margin-top:75px;
}
#chilis {
	float:left; 
	margin-left:50px;
	margin-top:75px;
}
#baker1 {
	float:right; 
	margin-right:50px;
	margin-top:175px;
}
#baker2 {
	float:left; 
	margin-left:50px;
	margin-top:75px;
}

.teacherheader {
	text-decoration: underline;
	text-align: left;
	
}

.teacherlist {
	text-align: left;
	list-style:normal;
}

#abouthim {
   margin-left:500px;
   border-bottom:10px solid;
   padding:10px;
}
h1 {
text-align:center;
}
h2 {
   margin-left:500px;
}

h3 {
   margin-left:500px;
}
form {
   margin-left:500px;
}			
.list {
   margin-left:500px;
}
.info {
   margin-left:500px;	
} 

#yes {
  display: block;
  color: #000; /* Black */
  padding: 8px 16px;
  text-decoration: none;
  margin-left: 25px;
  margin-top:1.25%;
  font-size:25px;
  border:0px;
}
#yes:hover:not(.active){
  background-color:transparent;}

/* Navigation Bar */
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #ffaaaa; /* pinkish */
  position: fixed;
  height: 100%;
  overflow: auto;
  
}

ul.sidenav li a {
  display: block;
  color: #000; /* Black */
  padding: 8px 16px;
  text-decoration: none;
  margin-left: 25px;
  margin-top:12px;
  font-size:25px;
  border:3px black solid;
}
 
ul.sidenav li a.active { 
  background-color: transparent; /* Mr. North */
  color: black;
  font-size: 50px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:10px;
  margin-right: 75px;
  border:0px;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555; /* DarkGrey Hover*/
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 9000px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
/* Navigation Bar End */
